.actions {
  display: flex;
  gap: 5px;
  justify-content: center;
  height: 100%;
}

.headerCell {
  min-width: 150px;
}

.row {
  font-size: 18px;
  color: var(--primaryColor);
}

.headerRow {
  color: var(--secondaryColor);
}

.action {
  width: 30px;
  height: 32px;
}